body {
  background: peachpuff;
}

header {
  display: flex;
}

.guinea-header-image {
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.hotel {
  width: 100vw;
}

/* #login {
}

#check-in-form {
} */
